.ui-Conteiner{
    align-items: center;
    border: 50px solid #eeeeee;
    max-Width: 630px;
    margin:50px;
    margin-left:auto;
    margin-right: auto;
    
    border-radius: 8px;
background-color: rgb(235, 232, 232, o.15);

}