.league-header{
    display: flex;
    margin-left: 32%;
    align-items: center;
}


.league-input{
    display: flex;
    height: 43px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 800px;
    margin-bottom: 20px;
    padding: 0px 10px;
    font-size: 13px;
}

