

.leagues-card{
    border-radius: 8 px;
    border: 4px solid #fcfcfc;
    box-shadow: 0 3px 8px 3px rgb(0, 0, 0);
    display: flex;
    padding: 15px;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
}

.Logo-league_image{
    max-width: 180px;
    background-color: white;

}

.leagues-info{
    font-size: 14px;
    margin-left: 50px;
    color: rgb(5, 5, 5);
    background-color: rgb(255, 255, 255);

}
.league-info_name{
    font-size: 13px;
}
.league-info_classificacao{
    border: 1px solid #75bdec;
    border-radius: 4px;
    color: #b0d8f3;
    text-decoration: none;
    padding: 8px 10px;
    align-items: right;
    margin-left: 290px;
    background-color: rgba(207, 240, 240, 0.527);
    opacity: unset;
}

a{
    text-decoration: none;
}
img{
    width: 100px;
}
